= form_for @list, :remote => true do |f|
  -if @list.errors.any?
    #error_explanation
      %h2= "#{pluralize(@list.errors.count, "error")} prohibited this list from being saved:"
      %ul
        - @list.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    .set
      =f.label :name
      =f.text_field :name
    .set
      =f.label "Description"
      =f.text_area :desc, :rows => 5
      =f.hidden_field :project_id

  .actions
    = f.submit 'Save'

