%article.tasks_container
  %header 
    %h3 You don't have any tasks. Add one
  .module_content
    = form_for @task||=Task.new(:priority => 1, :status => :new) do |f|
      -if @task.errors.any?
        #error_explanation
          %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
          %ul
            - @task.errors.full_messages.each do |msg|
              %li= msg
      %table
        %tr
          %th=f.label :name
          %td=f.text_field :name
        %tr
          %th=f.label "Description"
          %td=f.text_area :desc, :rows => 5
        %tr
          %th=f.label :priority
          %td=f.number_field :priority, :in => (1..5), :default => 1
        %tr
          %th=f.label :status
          %td=f.enum_select :status

      .actions= f.submit 'Save'
