%article.tasks_container
  -if list.any?
    %header
      %h3.tabs_involved #{pluralize(list.count, 'task')} in the list
      -if @list
        %span.new_task= link_to '', new_task_path(:list_id => @list.id), title: 'Add new task', remote: true
      %ul.tabs
        %li= link_to "All", "#tab_all_#{list.object_id}"
        %li= link_to 'To Do', "#tab_to_do_#{list.object_id}"
        %li= link_to 'Resolved', "#tab_done_#{list.object_id}"
    #new_task.invisible
    .tab_container
      - {"tab_all_#{list.object_id}" => list, "tab_to_do_#{list.object_id}" => list.to_do, "tab_done_#{list.object_id}" => list.done}.each_pair do |tab, data|
        .tab_content{:id => tab}
          %table.tablesorter{:cellspacing => 0}
            %thead
              %tr
                %th Name
                %th Status
                %th Priority
                %th Assigned to
                %th Created on
                %th Actions
            %tbody= render partial: 'tasks/task', collection: data
  -else
    %header
      %h4 You don't have any tasks here. Add one
    .module_content=render partial: 'tasks/form'

